@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Cairo',sans-serif;
  background:#070707;
  color:white;
}
.glass-card{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.1);
  padding:20px;
  border-radius:16px;
  backdrop-filter:blur(12px);
}
